body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.container {
  display: flex;
  width: 100%;
  gap: 15px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #696565;
  border-radius: 5px;
}

input:read-only{
  color: #696565;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  h1 {
    font-size: 1.4rem;
  }
}