body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: .5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.container {
    display: flex;
    width: 100%;
    gap: 15px;
}